<div class="col-sm-10 col-md-6 col-lg-4 text-center">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= link_to 'Back', {:controller => "songs", :action => "show"}, class: "btn btn-default btn-sm" %>
</div>
